<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}} - Captive Portal Auto Login</title>
    <link rel="stylesheet" href="/static/base.css">
    <style>
        @media (prefers-color-scheme: dark) {
            html {
                color-scheme: dark;
            }
        }
        
        html {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
<h1>Captive Portal Auto Login - {{title}}</h1>
{{#backLink}}
    <p><a href="{{.}}">back</a></p>
{{/backLink}}

{{$content}}
{{/content}}
</body>
</html>
