{{<base_layout}}
    {{$content}}
        <div style="overflow: scroll; white-space: nowrap;">
            <table>
                <thead>
                <tr>
                    <th>SSID</th>
                    <th>URL</th>
                </tr>
                </thead>
                {{#errors}}
                    <tr>
                        <td>{{ssid}}</td>
                        <td>{{url}}</td>
                    </tr>
                {{/errors}}
            </table>
        </div>
    {{/content}}
{{/base_layout}}
