{{<base_layout}}
    {{$content}}
        <p><a href="successes/">Successes</a></p>
        <p><a href="errors/">Errors</a></p>
        <p><a href="har/">Submitted HAR files</a></p>
    {{/content}}
{{/base_layout}}
