{{<base-layout}}
    {{$content}}
        <div style="overflow: scroll; white-space: nowrap; margin-top: 1em">
            <table>
                <thead>
                <tr>
                    <th>Year</th>
                    <th>Month</th>
                    <th>Version</th>
                    <th>Domain</th>
                    <th>Count</th>
                </tr>
                </thead>
                {{#successes}}
                    <tr class="mono">
                        <td>{{year}}</td>
                        <td>{{month}}</td>
                        <td>{{majorVersion}}</td>
                        <td>{{domain}}</td>
                        <td>{{count}}</td>
                        <td>
                            <form action="details" method="get">
                                <input type="hidden" name="year" value="{{year}}">
                                <input type="hidden" name="month" value="{{month}}">
                                <input type="hidden" name="version" value="{{version}}">
                                <input type="hidden" name="domain" value="{{domain}}">
                                
                                <button type="submit">Details</button>
                            </form>
                        </td>
                    </tr>
                {{/successes}}
            </table>
        </div>
    {{/content}}
{{/base-layout}}
