table {
    border-collapse: collapse;
    width: max-content;
}

div:has(>table) {
    overflow: scroll;
    width: 100%;
    padding-bottom: 3px;
}

table, th, td {
    border: 1px solid gray;
    padding: 0.2em 0.5em;
}

.hidden {
    display: none;
}

.mono {
    font-family: monospace;
}

input[type=number] {
    text-align: right;
}
